
<!-----------------
<video id="video" class="video-js" ></video>
 poster="//vjs.zencdn.net/v/oceans.png"
-->

<!--------
<video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
   
    data-setup='{}'>
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
 
 
</video>

--->

<!---------
<video id='my-player' width='600' height='300'>
    <source
       [src]="'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8'"
       type="application/x-mpegURL">
  </video>
  --->